*.csv
*.exe
*.ipynb
*.tmp
*.cfg
*.svd
debug_custom.json
~$zynierka_draft.docx
settings.json


#playground files
playground.py
box_generator.py
csv_playground.py
test.html



### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/