<!DOCTYPE html>
<head>
<title>DASHBOARD</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<meta http-equiv="refresh" content="60"> 
</head>
<body>
<h2>DASHBOARD <span id="dash-board"></span></h2>
<div class = "activeSensor"><br>
<form action = "/redirecting" method="POST">
<button type="submit" name="button" value="1">SENSOR 1</button>
</form>
<br><h2>Time of last record 03-03-2023 23:58:53</h2><h2>Air temperature: 27.05*C</h2>
<h2>Air humidity: 34.04%</h2>
<h2>Soil humidity: 20.80%</h2>
</div>
</body>
</html>