<!DOCTYPE html>
<head>
<title>DASHBOARD</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<meta http-equiv="refresh" content="60"> 
</head>
<body>
<h2>DASHBOARD <span id="dash-board"></span></h2>
<div class = "activeSensor"><br>
<form action = "/redirecting" method="POST">
<button type="submit" name="button" value="1">Sensor 1</button>
</form>
<br><label>Time of last record ['19-02-2023', '12:37:59']</label><br><br><label>Air temperature: 19.17000008</label><br>
<label>Air humidity: 46.54999924</label><br>
<label>Soil humidity: 9.4</label><br>
</div>
</body>
</html>