<!DOCTYPE html>
<head>
<title>DASHBOARD</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<meta http-equiv="refresh" content="60"> 
</head>
<body>
<h2>DASHBOARD <span id="dash-board"></span></h2>
<div class = "activeSensor"><br>
<form action = "/redirecting" method="POST">
<button type="submit" name="button" value="East">SENSOR East</button>
</form>
<br><h2>Time of last record 03-04-2023 01:45:08</h2><h2>Air temperature: 49.46*C</h2>
<h2>Air humidity: 21.02%</h2>
<h2>Soil humidity: 15.60%</h2>
</div>
<div class = "activeSensor"><br>
<form action = "/redirecting" method="POST">
<button type="submit" name="button" value="West">SENSOR West</button>
</form>
<br><h2>Time of last record 03-04-2023 01:45:08</h2><h2>Air temperature: 48.19*C</h2>
<h2>Air humidity: 20.39%</h2>
<h2>Soil humidity: 42.40%</h2>
</div>
<div class = "activeSensor"><br>
<form action = "/redirecting" method="POST">
<button type="submit" name="button" value="North">SENSOR North</button>
</form>
<br><h2>Time of last record 03-04-2023 01:45:08</h2><h2>Air temperature: 43.33*C</h2>
<h2>Air humidity: 21.50%</h2>
<h2>Soil humidity: 44.20%</h2>
</div>
<div class = "activeSensor"><br>
<form action = "/redirecting" method="POST">
<button type="submit" name="button" value="South">SENSOR South</button>
</form>
<br><h2>Time of last record 03-04-2023 01:45:08</h2><h2>Air temperature: 45.32*C</h2>
<h2>Air humidity: 21.38%</h2>
<h2>Soil humidity: 41.20%</h2>
</div>
<div class = "activeSensor"><br>
<form action = "/redirecting" method="POST">
<button type="submit" name="button" value="Center">SENSOR Center</button>
</form>
<br><h2>Time of last record 03-04-2023 01:45:08</h2><h2>Air temperature: 44.68*C</h2>
<h2>Air humidity: 24.77%</h2>
<h2>Soil humidity: 42.40%</h2>
</div>
<div class = "activeSensor"><br>
<form action = "/redirecting" method="POST">
<button type="submit" name="button" value="Outside">SENSOR Outside</button>
</form>
<br><h2>Time of last record 03-04-2023 01:45:08</h2><h2>Air temperature: 44.97*C</h2>
<h2>Air humidity: 24.26%</h2>
<h2>Soil humidity: 43.20%</h2>
</div>
</body>
</html>